extends ../masterpage/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    .descuento 
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canadá
                        p.fecha del 20 al 31 de Julio del 2020
                        p.precio $ 2,500 USD
